</br>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Listando Questões</h1>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
      <thead>
        <tr role="row">
          <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 57px;">
            #
          </th>
          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61px;">
            Description
          </th>
          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61px;">
            Subject
          </th>
          <th>
            <%= link_to new_admins_backoffice_question_path, class:"btn btn-success btn-circle" do %>
              <i class="fa fa-plus"></i>
            <% end %>
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 57px;">
            #
          </th>
          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61px;">
            Description
          </th>
          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61px;">
            Subject
          </th>
        </tr>
      </tfoot>
      <tbody>
        <% @questions.each do |question|%>
          <tr class="odd">
            <td class="sorting_1">
              <%= question.id %>
            </td>
            <td>
              <%= question.description.truncate(50) %>
            </td>
            <td>
              <%= question.subject.description.truncate(50) %>
            </td>
            <td style="width: 100px">

              <%= link_to edit_admins_backoffice_question_path(question), class:"btn btn-primary btn-circle" do %>
                <i class="fa fa-edit"></i>
              <% end %>

              <%= link_to admins_backoffice_question_path(question), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: "Are you sure?"} do %>
                <i class="fa fa-minus"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <%= paginate @questions %>
    </ul>
  </div>
</div>