<div class="bg-light p-5 rounded">
  <h3><%= msg_system %></h3>
</div>
<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="content ">
      <div class="content ">
        <h5 class="content">
          <span style="width: 6rem;">
            <%= link_to question.subject.description, site_search_subject_path(question.subject_id), class:"btn btn-outline-secondary active badge text-wrap" %>
          </span>
          <%= question.description %>
        </h5>
        <div class="content">
          <div class="content">
            <ul>
              <% question.answers.each do |answer| %>
                <li style="list-style:none">
                  <div class="radio">
                    <label>
                      <%= radio_button_tag "answer_id", answer.id %>
                      <%= answer.description %>
                    </label>
                  </div>
                </li>
              <% end %>
              <li style="list-style:none">
                <%= form.submit "Respond", class:"btn btn-outline-secondary", id:"submit_#{question.id}" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<ul class="pagination justify-content-center">
  <%= paginate @questions %>
</ul>