<div class="animate form">

  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <h1>Lost your password?</h1>
      
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control", placeholder:"Email", required:"" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:"btn btn-default submit" %>
      </div>
    <% end %>

    <div class="separator">
        <p class="change_link">Already a member ?
          <%= render "users/shared/links" %>
        </p>
    </div>
  </section> 

</div> 