<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'users_backoffice' %>

    <!-- Custom Theme Style -->
    <!--<link href="../build/css/custom.min.css" rel="stylesheet">-->
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <%= link_to users_backoffice_welcome_index_path, class:"site_title" do %>
                <i class="fa fa-circle"></i> <span>Central</span>
              <% end %>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
              <div class="profile clearfix">
                <div class="profile_pic">
                  <%= link_to image_tag( avatar_url, alt:"...", class:"img-circle profile_img", id:'imgHome'), '#', "data-toggle":"modal", "data-target":"#profilePictureModal" %>
                </div>
                <div class="profile_info">
                  <span>Welcome,</span>
                  <h2><%= current_user.full_name %></h2>
                </div>
              </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
              <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <%= link_to users_backoffice_welcome_index_path, class:"nav-link btn-outline-secondary" do %>
                      <i class="fas fa-home"></i> Home
                    <% end %>
                    <%= link_to users_backoffice_profile_path, class:"nav-link btn-outline-secondary" do %>
                      <i class="fas fa-user"></i> User Profile Settings
                    <% end %>
                  </li>
                </ul>
              </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons 
              <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                  <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                  <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
                <%= link_to destroy_user_session_path, method: :delete, class:"text-white-50", data: { toggle: 'tooltip', placement: 'top' }, title: "Logout" do %>
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                <% end %>
              </div>
            /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
          <div class="top_nav">
              <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="navbar navbar-nav">
                  
                  <ul class="navbar-right ml-auto">
                    <div class="nav-item dropdown open">
                      <a href="#" id="userDropdown" class="user-profile nav-link dropdown-toggle" role="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                        <%= image_tag avatar_url, alt:"", id:'imgDropdown' %>
                        <%= current_user.first_name %>
                      </a>
                      
                      <div class="dropdown dropdown-menu" aria-labelledby="userDropdown">
                        <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                          <i class="fa fa-sign-out pull-right"></i> 
                          Log Out
                        <% end %>
                      </div>
                    </div>               
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        <!-- /top navigation -->

        <!-- page content -->
          <div class="right_col" role="main">
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
        <!-- /page content -->

        <!-- footer content -->
          <footer>
            <div class="pull-right">
              Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
          </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- Modal -->
      <div class="modal fade" id="profilePictureModal" tabindex="-1" aria-labelledby="profilePictureModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= form_with(url: users_backoffice_profile_path, model: current_user, class:"form-horizontal form-label-left") do |form| %>
              <div class="modal-header">
                <h5 class="modal-title" id="profilePictureModalLabel">
                  Avatar
                </h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= form.fields_for :user_profile do |profile_form| %>
                  <!--<div class="item form-group">-->
                  <div class= "container">
                    <div class="row align-items-start">
                      <%= profile_form.label :avatar %>
                    </div>
                    </br>
                    <div class="row align-items-center">
                      <%= image_tag(avatar_url, alt:"...", class:"img-circle profile_img", id:'imgModal') %>
                    </div>
                    </br>
                    <div class="row align-items-end">
                      <%= profile_form.file_field :avatar %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= form.submit "Save", class:"btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <!-- /Modal -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'users_backoffice' %>
     <%= javascript_tag do %>
      console.log("teste")
     <% end %>
    <% if notice %>
      <%= javascript_tag do %>
        console.log("teste")
        $.bootstrapGrowl('<%= notice %>', {
          type: 'success',
          align: 'right',
          allow_dismiss: true,
          stackup_spacing: 10
        });
      <% end %>
    <% end %>

  </body>
</html>