<div class="animate form">

  <section class="login_content">  

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <h1>Create Account</h1>
      
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control", placeholder:"Email", required:"" %>
      </div>
      
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password (#{ @minimum_password_length } characters minimum)", required:"" %>
      </div>
      
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm Password", required:"" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Submit", class:"btn btn-default submit" %>
      </div>
      
      <div class="clearfix"></div>

      <div class="separator">
        <p class="change_link">Already a member ?
          <%= render "users/shared/links" %>
        </p>

        <div class="clearfix"></div>
        <br />

        <div>
          <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
          <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
        </div>
      </div>
    
    <% end %>

  </section> 

</div> 
